<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520015374570-76r627kfhk1ckmvudvd5e3ke407clqgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520015374570-76r627kfhk1ckmvudvd5e3ke407clqgf</string>
	<key>API_KEY</key>
	<string>AIzaSyBVCW0-bOfx5-UuCjaCEaF0JXklMt9K32g</string>
	<key>GCM_SENDER_ID</key>
	<string>520015374570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alex.fuckcounter</string>
	<key>PROJECT_ID</key>
	<string>fuckcounter</string>
	<key>STORAGE_BUCKET</key>
	<string>fuckcounter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520015374570:ios:81f4b4f7643e4c72a08f93</string>
	<key>DATABASE_URL</key>
	<string>https://fuckcounter-default-rtdb.firebaseio.com</string>
</dict>
</plist>